@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url('https://fonts.googleapis.com/css2?family=Merienda:wght@600&display=swap'); */
body {
  background-color: rgb(33, 50, 94);
}

.projectdisplay{
  display: flex;
  justify-content: center;
  align-items: center;  
  flex-wrap: wrap; 
}
.content-div {
    background-repeat: no-repeat;
    background-size: cover;
    height: 250px;
}

.projectbasis{
  flex-basis: 25%;
}

.content-div:hover {
  background-image: linear-gradient(
    to right,
    rgb(231, 197, 235),
    hsla(313, 74%, 61%, 0.8)   
)!important;
}

.project{
    opacity:0;    
}

.project:hover{
    opacity:1;    
}

.atag:hover{
    opacity:1
}
 
 @keyframes fadeInRight {
   0% {
      opacity: 0;
      transform: translateX(20px);
   }
   100% {
      opacity: 1;
      transform: translateX(0);
   }
 }
 
 .fadeInRight {
   animation-name: fadeInRight;
   animation-duration: 1s;
   animation-fill-mode: both;
 }

 @media screen and (max-width: 768px) {   
  .projectdisplay{
    display: block;
  }
  .content-div{
    margin-left: 0;
    margin-top: 40px;
  } 
  
  @keyframes fadeInRight {
    0% {
       transform: none;
    }
    100% {
       transform: none;
    }
  }
}