@tailwind base;
@tailwind components;
@tailwind utilities;


.content-div {
    background-repeat: no-repeat;
    background-size: cover;
    height: 250px;
}


.content-div:hover {
    opacity: 0.3;
}

.project{
    opacity:0;    
}

.project:hover{
    opacity:1;    
}

.atag:hover{
    opacity:1
}